<div class="movie">
    <h3><%= movie.title %></h3>
    <p> <%= movie.description %></p>
    <div style="display:flex;">
        <%= link_to "edit", edit_movie_path(movie), class: "btn btn-primary", style: "margin-right: 0.7em;" %>
        <%= link_to "delete", movie, class: "btn btn-primary", data:
                    {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </div>
      <span class="small-gray">
        Posted - <%= time_ago_in_words(movie.created_at, "data-local": "time-ago") %> ago
      </span>
</div>