<div class="row">

  <div class="column left" style="margin: 3em; margin-right: 0;">
    <%= form_with   method: "get"  do |f| %>
      <%= f.label "choose category" %>
      <%= f.select :category_id, options_for_select(@categories.collect{|cat| [cat.title, cat.id]}),
                   {class: "form-control", style: "width: 30%;"} %>
      <br>
      <%= f.submit "show", class: "btn btn-primary" %>
    <% end %>
    <br><br>
  </div>
  <h1 style="text-align: center;"> Movies</h1>

  <div class=<%= mobile? ? "main_mobile" : "main column right"%>, style="margin-left: 0;">
  <% unless @movies.any? %>
    <h3>unfortunatly there no one movie with this subject but you can ask admin to create!</h3>
    <%= link_to "Create movie", new_movie_path %>
  <% end %>
  <div class="pagination">
    <%= will_paginate @movies%>
  </div>
  <%= render @movies %>
  <div class="pagination">
    <%= will_paginate @movies%>
  </div>
</div>

</div>