<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1a1aff;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to "All movies", root_path, class: "navbar-brand", style: "margin-left: 15em;" %>
  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto "> <!--ms-auto" style="margin-right: 20em;-->
      <% if user_signed_in? %>
        <li class="nav-item active" >
           <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete},
                    class: "nav-link"%>
        </li>
        <li class="nav-item active" >
           <%= link_to "Settings", edit_user_registration_path, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item active" >
            <%= link_to "Log in/sign up", new_user_session_path , class: "nav-link"%>
        </li>
      <% end %>
      <%= link_to "new movie", new_movie_path, class: "nav-link" %>
    </ul>
  </div>
</nav>